*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Norms Pro Bold', sans-serif;
}

@font-face {
    font-family: "Gazpecho";
    src: url(../fonts/Gazpacho\ Bold.ttf);
}

@font-face {
    font-family: "TT Norms Pro Normal";
    src: url(../fonts/TTNormsPro-Normal.ttf);
}
@font-face {
    font-family: "TT Norms Pro Bold";
    src: url(../fonts/TTNormsPro-Bold.ttf);
}
